@font-face
        {
            font-family: QuillScriptSsi;
            src:url(QuillScriptSsi.ttf);
        } 
        
body{
padding: 20px;
background-color: rgb(246, 232, 211);
}
h1{
    color: goldenrod;
    font-family: QuillScriptSsi;
    font-size: 62px; 
    margin-left: 400px;   
}
h2{
    color: rgb(33, 116, 88);
}
li{
    font-family:sans-serif;
    margin: 12px;
}
img{
    border: 2px solid goldenrod;
    border-radius: 10px;    
}
.divPrepar{
    margin-top: 90px;
}
.left{
    float:left;
}
.right{
    float:right;
}

